---
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionHeading from "../components/SectionHeading.astro";
import ProjectShowcase from "../components/ProjectShowcase.astro";

import { projects } from "../data/projects";
import { site } from "../data/site";

const featuredProjects = projects.filter((project) => project.featured);
---

<BaseLayout
  title={site.name}
  description={site.hero.professionalSentence}
>
  <section id="projects" aria-labelledby="projects-heading" class="scroll-mt-8">
    <SectionHeading
      id="projects-heading"
      title="Featured projects"
      subtitle="Check out some of my projects I am proud of and enjoyed."
    />

    <div class="grid gap-8  lg:grid-cols-2">
      {
        featuredProjects.map((project) => (
          <ProjectShowcase project={project} />
        ))
      }
    </div>
  </section>
</BaseLayout>
