---
import { Image } from "astro:assets";

import headshot from "../assets/headshot.svg";
import { site } from "../data/site";
---

<div class="brand-gradient px-4 pb-8 pt-10">
  <Image
    src={headshot}
    alt="Portrait of David Schraedel"
    class="mx-auto w-48 max-w-[60%] rounded-full md:w-56 lg:w-64"
    width={320}
    height={320}
    loading="eager"
  />
</div>

<div class="px-4 pb-1.5 pt-6 text-center sm:px-8 sm:pt-8">
  <p class="text-5xl font-medium text-sepia dark:text-dim-highlight">{site.name}</p>
  <h1
    class="mx-auto mt-4 max-w-4xl text-[1rem] font-medium leading-snug text-dark-moss sm:text-[1.2rem]"
  >
    {
      site.hero.contrastLead.map((item, index) => (
        <>
          {index > 0 && (
            <span class="opacity-90">, </span>
          )}
          {item}
        </>
      ))
    }
  </h1>
</div>
