---
import { Image } from "astro:assets";

import headshot from "../assets/headshot.svg";
import { site } from "../data/site";
---

<div class="brand-gradient px-4 pb-8 pt-10">
  <Image
    src={headshot}
    alt="Portrait of David Schraedel"
    class="mx-auto w-48 max-w-[60%] rounded-full md:w-56 lg:w-64"
    width={320}
    height={320}
    loading="eager"
  />
</div>

<div class="px-4 pb-4 sm:pt-8 pt-6 text-center sm:px-8">
  <p class="text-5xl font-medium text-sepia dark:text-dim-highlight">{site.name}</p>
  <h1
    class="mx-auto mt-3 max-w-4xl text-[1rem] font-medium leading-snug text-dark-moss sm:text-[1.3rem]"
  >
    {site.hero.contrastLead}
  </h1>
  <p
    class="mx-auto mt-4 max-w-3xl text-[0.9rem] sm:text-base leading-relaxed text-interior-designer dark:text-dim-text-muted"
  >
    {site.hero.professionalSentence}
  </p>
</div>
