<nav aria-label="Main" class="pb-6 pt-2">
  <ul class="mx-auto flex flex-wrap justify-center gap-2 sm:gap-3">
    <li>
      <a href="#about" class="btn btn-soft btn-soft-default">About</a>
    </li>
    <li>
      <a href="#projects" class="btn btn-soft btn-soft-default">Featured projects</a>
    </li>
  </ul>
</nav>
