<nav aria-label="Main" class="pb-6 pt-2">
  <ul class="mx-auto flex justify-center">
    <li>
      <a href="#projects" class="btn btn-soft btn-soft-default">Featured projects</a>
    </li>
  </ul>
</nav>
